{% load poll_extras %}

{% for box in line.boxes %}

<div class="col-md-{{box.col_size}}">
    <div class="card card-secondary">
        <div class="card-header">
            <h3 class="card-title">Box {{ box.pos }}</h3>

            <div class="card-tools">
                <a href="{% url 'front.box.delete' box.id %}" class="right btn btn-danger fas fa-trash"></a>
            </div>
        </div>
        <div class="card-body">
            <p>Size : {{Size|get_item:box.size}}</p>
            <p>Article : {{box.article_name}}</p>
        </div>
    </div>
</div>
{% endfor %}
{% if not line.is_full %}
<div class="col-md-2">
    <div class="card card-success">
        <div class="card-header">
            <h3 class="card-title">Add a box</h3>
        </div>
        <div class="card-body">

        <form action="{% url 'front.box.add' %}" role="form" method="POST">
            {% csrf_token %}
            <input type="hidden" name="pos" value="{{line.boxes|length|add:1 }}">
            <input type="hidden" name="line" value="{{line.id}}">
            <div class="form-group">
                <label>Size</label>
                <select class="form-control select2" name="size" style="width: 100%;">
                    {% for key, value in Size.items %}
                <option value="{{key}}"">{{value}}</option>
                {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label>Article</label>
                <select class="form-control select2" name="article" style="width: 100%;">
                    {% for article in Articles %}
                <option value="{{article.id}}"">{{article.name}}</option>
                {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        </div>
    </div>
</div>
{% endif %}
