{% extends 'base.html' %}
{% load static %}

{% block css %}
<!-- Select2 -->
<link rel="stylesheet" href="{% static 'plugins/select2/css/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">

{% endblock %}
{% block content %}

<div class="row">
  <div class="col-md-12">
    <!-- general form elements -->
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title">General</h3>
      </div>
      <!-- /.card-header -->
      <!-- form start -->
      <form role="form" method="POST">
        {% csrf_token %}
        <div class="card-body">
            <div class="form-group">
              <label for="pos">Position number</label>
              <input type="number" name="pos" class="form-control" id="pos" placeholder="0" value="{{ Workstation.pos }}">
            </div>
            <div class="form-group">
                <label>Iolink</label>
                <select class="form-control select2" name="iolink" style="width: 100%;">
                    <option value="">None</option>
                {% for item in Iolinks.results %}
                    <option value="{{item.id}}" {% if Workstation.iolink == item.id %}selected{% endif %}>{{item.ip}}</option>
                {% endfor %}
                </select>
            </div>
            <div class="form-group">
              <label for="iolink_port">Iolink Master port number</label>
              <input type="number" name="iolink_port" class="form-control" id="iolink_port" placeholder="0" value="{{ Workstation.iolink_port }}">
            </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% include "lines/edit.html" %}
<!-- /.row -->
{% endblock %}

{% block script %}
<!-- Select2 -->
<script src="{% static 'plugins/select2/js/select2.full.min.js' %}"></script>
<!-- Page script -->
<script>
  $(function () {
    //Initialize Select2 Elements
    $('.select2').select2()

    //Initialize Select2 Elements
    $('.select2bs4').select2({
      theme: 'bootstrap4'
    })
  })
</script>
{% endblock %}
