{% extends 'base.html' %}
{% load static %}

{% block css %}
<!-- DataTables -->
<link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
<!-- Bootstrap Color Picker -->
<link rel="stylesheet" href="{% static 'plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css' %}">
{% endblock %}
{% block content %}

<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">List</h3>
          <div class="card-tools">
            <a href="{% url 'front.workstation.add' %}" class="btn btn-warning fas fa-plus"></a>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <table id="serviceDataTable" class="table table-bordered table-striped">
            <thead>
            <tr>
              <th style="width: 10px">Position</th>
              <th>Number of lines</th>
              <th style="width: 200px; padding-right: 0px;">Action</th>
            </tr>
            </thead>
            <tbody>
              {% for item in Workstations.results %}
              <tr>
              <td>{{ item.pos }}</td>
              <td>{{ item.lines|length }}</td>
              <td>
                <a href="{% url 'front.workstation.retrieve' item.id %}" class="btn btn-primary fas fa-eye"></a> <a href="{% url 'front.workstation.edit' item.id %}" class="btn btn-warning fas fa-edit"></a> <a href="{% url 'front.workstation.delete' item.id %}" class="btn btn-danger fas fa-trash"></a>
              </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->

<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Settings</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">

            <form role="form" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label>Led color :</label>
                    <input type="text" name="ledcolor" id="ledcolor" class="form-control color-picker" value="{{ led_color }}">
                </div>
                <div class="form-group">
                    <label>Led brightness : (0-255)</label>
                    <input type="text" name="ledbrightness" id="ledbrightness" class="form-control" value="{{ led_brightness }}">
                </div>
                <div class="form-group">
                    <label>Mode :</label>
                    <select class="form-control select2" name="mode" style="width: 100%;">
                        <option value="DEMO" {% if mode == "DEMO" %}selected{% endif %}>Demonstration</option>
                        <option value="PROD" {% if mode == "PROD" %}selected{% endif %}>Production</option>
                        <option value="OFF" {% if mode == "OFF" %}selected{% endif %}>Off</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <br>
            <a class="btn btn-app" href="{% url 'front.workstation.sync' %}" >
                <i class="fas fa-sync"></i> Get configuration from MES
            </a>
            <a class="btn btn-app" href="{% url 'front.workstation.reset' %}" >
                <i class="fas fa-power-off"></i> Reset all leds
            </a>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
{% endblock %}

{% block script %}
<!-- DataTables -->
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<!-- bootstrap color picker -->
<script src="{% static 'plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js' %}"></script>
<!-- page script -->
<script>
    $(function () {
      $('#serviceDataTable').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": false,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "responsive": true,
      });
    });

    $('.color-picker').colorpicker()
  </script>
{% endblock %}
