{% extends 'base.html' %}
{% load static %}

{% block css %}

<style>
    .color-palette {
      height: 35px;
      line-height: 35px;
      text-align: right;
      padding-right: .75rem;
    }

    .color-palette.disabled {
      text-align: center;
      padding-right: 0;
      display: block;
    }

    .color-palette-set {
      margin-bottom: 15px;
    }

    .color-palette span {
      display: none;
      font-size: 12px;
    }

    .color-palette:hover span {
      display: block;
    }

    .color-palette.disabled span {
      display: block;
      text-align: left;
      padding-left: .75rem;
    }

    .color-palette-box h4 {
      position: absolute;
      left: 1.25rem;
      margin-top: .75rem;
      color: rgba(255, 255, 255, 0.8);
      font-size: 12px;
      display: block;
      z-index: 7;
    }
  </style>
{% endblock %}
{% block content %}
{% for line in Workstation.lines reversed %}

<div class="card card-default color-palette-box">
    <div class="card-header">
      <h3 class="card-title">
        <i class="fas fa-tag"></i>
        Line {{line.pos}}
      </h3>
    </div>
    <div class="card-body">
      <!-- /.col-12 -->
      <div class="row align-items-center">
        {% for box in line.boxes %}
        <div class="col-{{box.col_size}}">
          <h4 class="text-center">Box {{box.pos}}</h4>

          <div class="color-palette-set">
            {% if box.is_on %}
                <div class="bg-success color-palette box-{{box.id}}"><span>{{box.id}}</span></div>
                <div class="bg-success disabled color-palette box-{{box.id}}"><span>{{box.article_name}}</span></div>
          {% else %}
                <div class="bg-secondary color-palette box-{{box.id}}"><span>{{box.id}}</span></div>
                <div class="bg-secondary disabled color-palette box-{{box.id}}"><span>{{box.article_name}}</span></div>
          {% endif %}
          </div>
        </div>
        {% endfor %}
        <!-- /.col -->
      </div>
    </div>
</div>
{% endfor %}
{% endblock %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.min.js" type="text/javascript" >
</script>
<script>
    function changeClass(id, color){
        var elements = document.getElementsByClassName("box-"+id);
        Array.from(elements).forEach((el) => { el.className = el.className.replace( /(?:^|\s)bg-[a-z]*(?!\S)/g , 'bg-'+color );});
    }
    var wsbroker = location.hostname;  // mqtt websocket enabled broker
    var wsport = 15675; // port for above
    var client = new Paho.MQTT.Client(wsbroker, wsport, "/ws","front."+parseInt(Math.random() * 100, 10)+".qos0");
    client.onConnectionLost = function (responseObject) {
        console.log("CONNECTION LOST - " + responseObject.errorMessage);
    };
    client.onMessageArrived = function (message) {
        console.log("[x] receive on :" + message.destinationName + " | payload : " + message.payloadString);
        var obj = JSON.parse(message.payloadString)
        if (obj.state){
            changeClass(obj.box_id, obj.color)
        }
        else{
            changeClass(obj.box_id,"secondary")
        }
    };
    var options = {
        timeout: 3,
        keepAliveInterval: 30,
        onSuccess: function () {
            client.subscribe("mqtt-subscription-front.*.qos0");
            console.log("CONNECTION SUCCESS");
        },
        onFailure: function (message) {
            console.log("CONNECTION FAILURE - " + message.errorMessage);
        }
    };
    if (location.protocol == "https:") {
        options.useSSL = true;
    }
    console.log("CONNECT TO " + wsbroker + ":" + wsport);
    client.connect(options);
</script>
{% endblock %}
