{% extends 'base.html' %}
{% load static %}
{% block css %}


{% endblock %}

{% block content %}
 <!-- Main content -->
      <!-- Small boxes (Stat box) -->
{% for p_line in ProductionLine %}
<div class="row">
  {% for workstation in p_line %}
  <div class="col-lg-4 col-6">
    {% if workstation != None %}
    <!-- small box -->
    <div class="small-box bg-navy">
      <div class="inner">
        <h3>Workstation {{ workstation.pos }}</h3>
        <br />
        <br />
        {% for line in workstation.lines reversed %}
        <div class="row">
          <div class="col-lg-1 text-center ">  <p>L{{ line.pos }} </p> </div>
          {% for box in line.boxes %}
          {% if box.is_on %}
          <div class="col text-center"> <i class="text-lime far fa-lightbulb fa-2x box-{{box.id}}"></i> <p>B{{ box.pos }}</p> </div>
          {% else %}
          <div class="col text-center"> <i class="text-light far fa-lightbulb fa-2x box-{{box.id}}"></i> <p>B{{ box.pos }}</p> </div>
          {% endif %}
          {% endfor %}
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}
  </div>
  {% endfor %}

</div><!--- ./row -->
{% endfor %}
{% endblock %}
{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.min.js" type="text/javascript" >
</script>
<script>
    function changeClass(id, color){
        var elements = document.getElementsByClassName("box-"+id);
        Array.from(elements).forEach((el) => { el.className = el.className.replace( /(?:^|\s)text-[a-z]*(?!\S)/g , 'text-'+color );});
    }
    var wsbroker = location.hostname;  // mqtt websocket enabled broker
    var wsport = 15675; // port for above
    var client = new Paho.MQTT.Client(wsbroker, wsport, "/ws","front."+parseInt(Math.random() * 100, 10)+".qos0");
    client.onConnectionLost = function (responseObject) {
        console.log("CONNECTION LOST - " + responseObject.errorMessage);
    };
    client.onMessageArrived = function (message) {
        console.log("[x] receive on :" + message.destinationName + " | payload : " + message.payloadString);
        var obj = JSON.parse(message.payloadString)
        if (obj.state){
            changeClass(obj.box_id, obj.color)
        }
        else{
            changeClass(obj.box_id,"light")
        }
    };
    var options = {
        timeout: 3,
        keepAliveInterval: 30,
        onSuccess: function () {
            client.subscribe("mqtt-subscription-front.*.qos0");
            console.log("CONNECTION SUCCESS");
        },
        onFailure: function (message) {
            console.log("CONNECTION FAILURE - " + message.errorMessage);
        }
    };
    if (location.protocol == "https:") {
        options.useSSL = true;
    }
    console.log("CONNECT TO " + wsbroker + ":" + wsport);
    client.connect(options);
</script>
{% endblock %}
