{% load static %}

<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>PTL app</title>

  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
  {% block css %} {% endblock %}
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'css/adminlte.min.css' %}">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">

  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="{% url 'front.dashboard' %}" class="nav-link">Home</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="{% url 'front.contact' %}" class="nav-link">Contact</a>
      </li>
    </ul>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="{% url 'front.dashboard' %}" class="brand-link">
      <img src="{% static 'img/AdminLTELogo.png' %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">PTL app</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <li class="nav-item">
                <a href="{% url 'front.dashboard' %}" class="nav-link {% if request.path == '/' %} active {% endif %}">
                <i class="fas fa-tachometer-alt nav-icon"></i>
                <p>Dashboard</p>
                </a>
            </li>
            <li class="nav-item has-treeview menu-open">
                <a href="" class="nav-link {% if "/settings" in request.path %} active {% endif %}">
                <i class="nav-icon fas fa-cog"></i>
                <p>
                    Settings
                    <i class="right fas fa-angle-left"></i>
                </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                      <a href="{% url 'front.workstation.list' %}" class="nav-link {% if '/settings/workstations' == request.path %} active {% endif %}">
                        <i class="fas fa-cubes nav-icon"></i>
                        <p>Workstations</p>
                      </a>
                    </li>
                    {% for workstation in sidebar_workstations.results %}
                    <li class="nav-item">
                      <a href="{% url 'front.workstation.retrieve' workstation.id %}" class="nav-link {% if workstation.id|stringformat:"s" in request.path  %} active {% endif %}">
                        <i class="fas fa-cube nav-icon"></i>
                        <p>Workstation {{ workstation.pos }}</p>
                      </a>
                    </li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">{{ page_title }}</h1>
          </div><!-- /.col -->
          <div class="col-sm-2 offset-md-4">
              {% if editable_breadcrumb_link %}
            <a href="{{editable_breadcrumb_link}}">
                <button type="button" class="btn btn-block btn-warning"><i class="fas fa-pen"></i>   Edit</button>
            </a>
            {% endif %}
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        {% block content %}
        {% endblock %}
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
    <div class="p-3">
      <h5>Title</h5>
      <p>Sidebar content</p>
    </div>
  </aside>
  <!-- /.control-sidebar -->

  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
      Birchler Arno
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2021 <a href="http://ecam-strasbourg.eu/mastere-specialise/#MSETNO">Ecam Strasbourg MS ETNO</a>.</strong> All rights reserved.
  </footer>
</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->

<!-- jQuery -->
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'js/adminlte.min.js' %}"></script>
<!-- Font awesome -->
<script src="https://kit.fontawesome.com/b14f96a8ea.js" crossorigin="anonymous"></script>
{% block script %}
{% endblock %}

</body>
</html>
