{% extends 'base.html' %}
{% load static %}

{% block css %}

{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-6">
        <!-- Widget: user widget style 1 -->
        <div class="card card-widget widget-user">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-info">
                <h3 class="widget-user-username">Arno Birchler</h3>
                <h5 class="widget-user-desc">Founder & CTO</h5>
            </div>
            <div class="widget-user-image">
                <img class="img-circle elevation-2" src="{% static 'img/arno.jpg' %}" alt="User Avatar">
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-sm-4 border-right">
                        <div class="description-block">
                        <h5 class="description-header text-success">8,256</h5>
                        <span class="description-text">HACKS</span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-4 border-right">
                        <div class="description-block">
                        <h5 class="description-header">126</h5>
                        <span class="description-text">BURNED GPU</span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-4">
                        <div class="description-block">
                        <h5 class="description-header text-danger">35M</h5>
                        <span class="description-text">SECURITY BREACH</span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
        </div> <!-- /.card-->
    </div> <!-- /.col -->

    <div class="col-md-6">
        <!-- Widget: user widget style 1 -->
        <div class="card card-widget widget-user">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-info">
                <h3 class="widget-user-username">Fabrice Copin</h3>
                <h5 class="widget-user-desc">Founder & COO</h5>
            </div>
            <div class="widget-user-image">
                <img class="img-circle elevation-2" src="{% static 'img/fabrice.jpg' %}" alt="User Avatar">
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-sm-4 border-right">
                        <div class="description-block">
                        <h5 class="description-header text-success">3,200</h5>
                        <span class="description-text">CERTIFICATIONS</span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-4 border-right">
                        <div class="description-block">
                        <h5 class="description-header text-danger">0</h5>
                        <span class="description-text">ON TIME DELIVERY</span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-4">
                        <div class="description-block">
                        <h5 class="description-header">2,523</h5>
                        <span class="description-text">EWOKS</span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
        </div> <!-- /.card-->
    </div> <!-- /.col -->

    <div class="col-md-6">
        <!-- Widget: user widget style 1 -->
        <div class="card card-widget widget-user">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-info">
                <h3 class="widget-user-username">Sarah Nabhan</h3>
                <h5 class="widget-user-desc">Founder & CFO</h5>
            </div>
            <div class="widget-user-image">
                <img class="img-circle elevation-2" src="{% static 'img/sarah.jpg' %}" alt="User Avatar">
            </div>
            <div class="card-footer">
                <div class="row">
                    <!-- /.col -->
                    <div class="col-sm-4 border-right">
                        <div class="description-block">
                        <h5 class="description-header text-danger">-3M $</h5>
                        <span class="description-text">TURNOVER</span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-4">
                        <div class="description-block">
                        <h5 class="description-header">+0.25%</h5>
                        <span class="description-text">STOCKS</span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <div class="col-sm-4 border-right">
                        <div class="description-block">
                        <h5 class="description-header text-success">13,568,475</h5>
                        <span class="description-text">FOLLOWERS</span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
        </div> <!-- /.card-->
    </div> <!-- /.col -->

    <div class="col-md-6">
        <!-- Widget: user widget style 1 -->
        <div class="card card-widget widget-user">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-info">
                <h3 class="widget-user-username">Yanis Yataghene</h3>
                <h5 class="widget-user-desc">Founder & CMO</h5>
            </div>
            <div class="widget-user-image">
                <img class="img-circle elevation-2" src="{% static 'img/yanis.jpg' %}" alt="User Avatar">
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-sm-4 border-right">
                        <div class="description-block">
                        <h5 class="description-header">2</h5>
                        <span class="description-text">FOLLOWERS</span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-4 border-right">
                        <div class="description-block">
                        <h5 class="description-header text-success">7,806,254</h5>
                        <span class="description-text">ADS</span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-4">
                        <div class="description-block">
                        <h5 class="description-header text-danger">- 250%</h5>
                        <span class="description-text">SALES</span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
        </div> <!-- /.card-->
    </div> <!-- /.col -->
</div> <!-- / .row -->
{% endblock %}

{% block script %}
{% endblock %}
