{% for line in Workstation.lines %}
<div class="row">
    <div class="col-md-12">
      <!-- general form elements -->
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">Line {{line.pos}}</h3>

          <div class="card-tools">
              <a href="{% url 'front.line.delete' line.id %}" class="right btn btn-danger fas fa-trash"></a>
          </div>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
          <div class="card-body">
            <div class="row">
                {% include 'boxes/edit.html' %}
            </div>
          </div>
          <!-- /.card-body -->
          <div class="card-footer">
          </div>
      </div>
    </div>
</div>
{% endfor %}
<div class="row">
    <div class="col-md-12">
        <form action="{% url 'front.line.add' %}" role="form" method="POST">
          {% csrf_token %}
            <input type="hidden" name="pos" value="{{Workstation.lines|length|add:1 }}">
            <input type="hidden" name="workstation" value="{{Workstation.id}}">
            <button type="submit" class="btn btn-block btn-success"> <i class="fas fa-plus"></i> Add a line </button>
        </form>
    </div>
</div>
